//colors
//Primarys
$instockblack: #13182c;
$instockindigo: #2e66e5;
$white: #ffffff;

//Secondarys
$slate: #5c667e;
$cloud: #bdc5d5;

//Background
$graphite: #232940;
$lightgrey: #f7f8f9;

//Supporting
$green: #158463;
$red: #c94515;
